<ion-header [translucent]="true">
  <ion-toolbar color="success">

    <ion-title>

      App BMI

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <img src="../../assets/img/png-clipart-scales-scales.png" class="ion-padding" />
<ion-card color="warning" class="ion-padding">
  <ion-item >
  <ion-input label="กลอกน้ำหนัก" color="danger" placeholder="kg"></ion-input> </ion-item>
  <ion-item >
  <ion-input label="กลอกส่วนสูง" color="danger" placeholder="cm"></ion-input> </ion-item>
  <ion-button size="large" expand="block" shape="round">คำนวน</ion-button>

</ion-card>
<br>
<div class="ion-text-center">
  <ion-button size="large" expand="block" >ผลลัพธ์</ion-button>
  <ion-button size="large" expand="block"  (click)="gotologin() ">
    แปรผล
  </ion-button>

</div>
</ion-content>
